apiVersion: apps/v1
kind: Deployment
metadata:
  name: devguard-web-deployment
  labels:
    {{- include "devguard.labels" . | nindent 4 }}
    app: devguard-web
spec:
  {{- if not .Values.web.autoscaling.enabled }}
  replicas: 1
  {{- end }}
  selector:
    matchLabels:
      app: devguard-web
  template:
    metadata:
      {{- with .Values.web.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "devguard.labels" . | nindent 8 }}
        {{- with .Values.web.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        app: devguard-web
        version: {{ .Chart.AppVersion }}
    spec:
      {{- with .Values.web.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 53111
        runAsGroup: 3000
        fsGroup: 2000
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            runAsUser: 53111
            runAsNonRoot: true
            capabilities:
                drop:
                - ALL
          image: "{{ .Values.web.image.repository }}:{{ .Values.web.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.web.image.pullPolicy }}
          env:
          - name: ORY_KRATOS_URL
            value: http://kratos:4433
          - name: DEVGUARD_API_URL
            value: http://devguard-api-service:8080
          - name: DEVGUARD_API_URL_PUBLIC_INTERNET
            value: {{ .Values.web.devguardApiUrlPublicInternet }}
          - name: PRIVACY_POLICY_LINK
            value: {{ .Values.web.privacyPolicyLink | quote }}
          - name: TERMS_OF_SERVICE_LINK
            value: {{ .Values.web.termsOfServiceLink | quote }}
          - name: IMPRINT_LINK
            value: {{ .Values.web.imprintLink | quote }}
          {{- if and .Values.oidc.enabled (gt (len .Values.oidc.providers) 0) (not .Values.webauthn.enabled) (not .Values.passkey.enabled) (not .Values.password.enabled) (not .Values.totp.enabled) }}
          - name: OIDC_ONLY
            value: "true"
          {{- end }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 10
          resources:
            limits:
              cpu: "0.5"
              memory: 1024Mi
            requests:
              cpu: 100m
              memory: 128Mi
      {{- with .Values.web.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
