.env
report.sarif
bom.json
osv
.DS_Store
helm/charts/*.tgz
sbom.json
.git-template
csv
datascience.ipynb
bom.xml
.kratos/kratos.yml
*.private-key.pem
.hydra/hydra.yml
.oathkeeper/jwks.json
.oathkeeper/config.yml
.oathkeeper/rules.json