version: '3.8'

### WARNING: This is for local testing and development only. Do not use in production! ###
# Review carefully and change passwords and secrets before using in any other environment. 
#
# Change:
# - POSTGRES_PASSWORD in the postgresql service
# - The kratos users password in initdb.sql / via psql
# - DSN environment variable in the kratos and kratos-migrate services
# - POSTGRES_PASSWORD environment variable in the devguard-api service
###

services:
  postgresql:
    image: ghcr.io/l3montree-dev/devguard/postgresql:v1.0.0-rc.17
    container_name: devguard-postgres
    security_opt:
      - no-new-privileges:true 
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: change-me-definitely-when-not-testing
      POSTGRES_DB: devguard
    #ports:
    #  - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./initdb.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - devguard-local

  kratos-migrate:
    image: oryd/kratos:v25.4.0-distroless@sha256:368667ee3713797f86ddec669c36751f6484c7d675c78fd27c795b2e79271c31
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./kratos
        target: /etc/config/kratos
    environment:
      - DSN=postgres://kratos:change-me-definitely-when-not-testing@postgresql:5432/kratos?sslmode=disable
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    networks:
      - devguard-local

  kratos:
    image: oryd/kratos:v25.4.0-distroless@sha256:368667ee3713797f86ddec669c36751f6484c7d675c78fd27c795b2e79271c31
    container_name: devguard-kratos
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    user: "53111"
    depends_on:
      postgresql:
        condition: service_healthy
      kratos-migrate:
        condition: service_started
    volumes:
      - type: bind
        read_only: true
        source: ./kratos
        target: /etc/config/kratos
    #ports:
      #- "4433:4433"  # Public
      #- "4434:4434"  # Admin
    environment:
      - DSN=postgres://kratos:change-me-definitely-when-not-testing@postgresql:5432/kratos?sslmode=disable
      - LOG_LEVEL=debug
    command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
    networks:
      - devguard-local

  devguard-migrate:
    image: ghcr.io/l3montree-dev/devguard:v1.0.0-rc.17
    read_only: true
    tmpfs:
      - /tmp:size=8G
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    user: "53111"
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=change-me-definitely-when-not-testing
      - POSTGRES_DB=devguard
      - POSTGRES_HOST=postgresql
      - POSTGRES_PORT=5432
    command: ["devguard-cli", "migrate"]
    networks:
      - devguard-local

  devguard-api:
    image: ghcr.io/l3montree-dev/devguard:v1.0.0-rc.17
    container_name: devguard-api
    read_only: true
    tmpfs:
      - /tmp:size=8G
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    user: "53111"
    depends_on:
      postgresql:
        condition: service_healthy
      kratos:
        condition: service_started
      devguard-migrate:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgresql://postgres:password@postgresql:5432/devguard
      - ORY_KRATOS_PUBLIC=http://kratos:4433
      - ORY_KRATOS_ADMIN=http://kratos:4434
      - LOG_LEVEL=debug
      - INSTANCE_DOMAIN=http://localhost:8080
      - FRONTEND_URL=http://localhost:3000
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=change-me-definitely-when-not-testing
      - POSTGRES_DB=devguard
      - POSTGRES_HOST=postgresql
      - POSTGRES_PORT=5432
    networks:
      - devguard-local

  devguard-web:
    image: ghcr.io/l3montree-dev/devguard-web:v1.0.0-rc.17
    container_name: devguard-web
    read_only: true
    tmpfs:
      - /tmp:size=100M
      - /app/.next/cache:size=500M
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    depends_on:
      - devguard-api
    ports:
      - "3000:3000"
    environment:
      - DEVGUARD_API_URL=http://devguard-api:8080
      - ORY_KRATOS_URL=http://kratos:4433
    networks:
      - devguard-local

volumes:
  postgres:

networks:
  devguard-local:
    name: devguard-local