version: '3.7'

# postgresql database for local development
services:
  postgresql:
    image: ghcr.io/l3montree-dev/devguard-postgresql:v0.4.16
    # If you want to build the image locally, uncomment the following lines
    # build:
    # context: .
    # dockerfile: Dockerfile.postgres
    env_file: .env
    ports:
    - "5432:5432"
    volumes:
    - postgres:/var/lib/postgresql/data
    - ./initdb.sql:/docker-entrypoint-initdb.d/init.sql

  kratos-migrate:
    image: oryd/kratos:v1.3.1
    depends_on:
    - postgresql
    environment:
    - DSN=postgres://kratos:secret@postgresql:5432/kratos?sslmode=disable
    volumes:
    - type: bind
      source: ./.kratos
      target: /etc/config/kratos
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes

  kratos:
    # build:
    #   context: ../kratos
    #   dockerfile: ../kratos/.docker/Dockerfile-build
    image: oryd/kratos:v1.3.1
    depends_on:
    - kratos-migrate
    - postgresql
    ports:
    - '4433:4433' # public
    - '4434:4434' # admin
    command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
    environment:
    - DSN=postgres://kratos:secret@postgresql:5432/kratos?sslmode=disable
    - LOG_LEVEL=trace
    volumes:
    - type: bind
      source: ./.kratos
      target: /etc/config/kratos
volumes:
  postgres:
