stages:
  - test
  - oci-image
  - attestation

include:
  - remote: "{{ .DevGuardCiComponentBase }}/templates/full.yml"
    inputs:
      devguard_asset_name: "$DEVGUARD_ASSET_NAME"
      devguard_token: "$DEVGUARD_TOKEN"
      devguard_api_url: "$DEVGUARD_API_URL"
      devguard_web_ui: "{{ .DevGuardFrontendUrl }}"