# Default values for devguard.
# This is a YAML-formatted file.
# Declare variables to be passed into templates.
oidc:
  enabled: false
  providers:
  - id: github
    provider: github
    clientId: "sample-client-id"
    existingClientSecret: github-client-secret # needs to contain key "secret"
  - id: gitlab
    provider: gitlab
    issuerUrl: https://gitlab.de
    clientId: client-id
    existingClientSecret: gitlab-secret
    scope:
      - read_user
      - openid
      - profile
      - email

mail:
  # needs to contain key: "uri". Format should be like: smtps://<user>@<your-domain.com>:<secret>@<mail-server.de>:465/?skip_ssl_verify=false
  existingSMTPConnectionUriSecret: ""
  fromAddress: "noreply@devguard.org"
  fromName: "DevGuard"
api:
  replicaCount: 1
  image:
    repository: ghcr.io/l3montree-dev/devguard
    # TODO: As we are curently in ALPHA, we are using the latest tag. 
    # This will be changed to a specific tag once we are in BETA.
    pullPolicy: Always # IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: main-latest
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  # fsGroup: 2000
  securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}
  tolerations: []
  affinity: {}

  ingress:
    enabled: true
    className: ""
    annotations: {}
    hosts:
      - host: example.com
        paths:
          - path: /
            pathType: Prefix

  intoto:
    existingPrivateKeySecretName: ec-private-key
  github:
    enabled: true
    appId: abc
    # needs to contain "webhookSecret"
    existingWebhookSecretSecretName: github-app-webhook-secret
    # needs to contain key "privateKey"
    existingPrivateKeySecretName: github-app-private-key

web:
  devguardApiUrlPublicInternet: ""
  image:
    repository: ghcr.io/l3montree-dev/devguard-web
    # TODO: As we are curently in ALPHA, we are using the latest tag. 
    # This will be changed to a specific tag once we are in BETA.
    pullPolicy: Always # IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: main-latest
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  # fsGroup: 2000
  securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}
  tolerations: []
  affinity: {}

  ingress:
    enabled: true
    className: ""
    annotations: {}
    hosts:
      - host: app.example.com
        paths:
          - path: /
            pathType: Prefix
