# Default values for devguard.
# This is a YAML-formatted file.
# Declare variables to be passed into templates.
webauthn:
  enabled: false
passkey:
  enabled: true
password:
  enabled: true
totp:
  enabled: false
verificationAfterSignUp:
  enabled: true
oidc:
  enabled: false
  providers: []
  # - id: github
  #   provider: github
  #   clientId: "sample-client-id"
  #   existingClientSecretName: github-client-secret # needs to contain key "secret"
  # - id: gitlab
  #   provider: gitlab
  #   issuerUrl: https://gitlab.de
  #   clientId: client-id
  #   existingClientSecretName: gitlab-secret
  #   existingAdminTokenSecretName: gitlab-admin-token # needs to contain key "token"
  #   scope:
  #     - read_user
  #     - openid
  #     - profile
  #     - email

networkPolicy:
  enabled: true
  #ingressNamespaceSelectorKey: "role"
  #ingressNamespaceSelectorValue: "ingress"

mail:
  # needs to contain key: "uri". Format should be like: smtps://<user>@<your-domain.com>:<secret>@<mail-server.de>:465/?skip_ssl_verify=false
  existingSMTPConnectionUriSecret: ""
  fromAddress: "noreply@devguard.org"
  fromName: "DevGuard"
api:
  replicaCount: 1
  image:
    repository: ghcr.io/l3montree-dev/devguard
    # TODO: As we are curently in ALPHA, we are using the latest tag. 
    # This will be changed to a specific tag once we are in BETA.
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    # tag: 0.13.0
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}
  tolerations: []
  affinity: {}

  errorTracking:
    # https://<your-error-tracking-dsn>
    dsn: ""
    # can be dev, stage or prod
    environment: "dev"

  ingress:
    enabled: true
    className: ""
    annotations: {}
    hosts:
      - host: example.com
        paths:
          - path: /
            pathType: Prefix

  intoto:
    existingPrivateKeySecretName: ec-private-key
  github:
    enabled: true
    appId: abc
    # needs to contain "webhookSecret"
    existingWebhookSecretSecretName: github-app-webhook-secret
    # needs to contain key "privateKey"
    existingPrivateKeySecretName: github-app-private-key

web:

  devguardApiUrlPublicInternet: ""
  privacyPolicyLink: ""
  termsOfServiceLink: ""
  imprintLink: ""

  image:
    repository: ghcr.io/l3montree-dev/devguard-web
    # TODO: As we are curently in ALPHA, we are using the latest tag. 
    # This will be changed to a specific tag once we are in BETA.
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    # tag: 0.13.0
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}
  tolerations: []
  affinity: {}

  ingress:
    enabled: true
    className: ""
    annotations: {}
    hosts:
      - host: app.example.com
        paths:
          - path: /
            pathType: Prefix
