
{{- $protocol := "http" -}}
{{- if .Values.web.ingress.tls -}}
{{- $protocol = "https" -}}
{{- end -}}
{{- $host := index .Values.web.ingress.hosts 0 -}}

{{- $apiProtocol := "http" -}}
{{- if .Values.api.ingress.tls -}}
{{- $apiProtocol = "https" -}}
{{- end -}}
{{- $apiHost := index .Values.api.ingress.hosts 0 -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: devguard-api-deployment
  labels:
    {{- include "devguard.labels" . | nindent 4 }}
    app: devguard-api
spec:
  {{- if not .Values.api.autoscaling.enabled }}
  replicas: {{ .Values.api.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: devguard-api
  template:
    metadata:
      {{- with .Values.api.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "devguard.labels" . | nindent 8 }}
        {{- with .Values.api.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        app: devguard-api
        version: {{ .Chart.AppVersion }}
    spec:
      {{- with .Values.api.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 53111
        runAsGroup: 3000
        fsGroup: 2000
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            capabilities:
                drop:
                - ALL
            seccompProfile:
                type: RuntimeDefault
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 53111
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.api.image.pullPolicy }}
          env:
          - name: POSTGRES_DB
            value: devguard
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                key: postgres-password
                name: db-secret
          - name: POSTGRES_USER
            value: devguard
          - name: POSTGRES_HOST
            value: postgresql
          - name: OSI_LICENSES_API
            value: https://opensource.org/api/license/
          - name: POSTGRES_PORT
            value: "5432"
          - name: FRONTEND_URL
            value: {{ printf "%s://%s" $protocol $host.host }}
          - name: INSTANCE_DOMAIN
            {{- if .Values.api.ingress.enabled }}
            value: {{ printf "%s://%s" $apiProtocol $apiHost.host }}
            {{- else }}
            value: http://devguard-api-service.{{ .Release.Namespace }}.svc.cluster.local:8080
            {{- end }}
          - name: ORY_KRATOS_PUBLIC
            value: http://kratos:4433
          - name: ORY_KRATOS_ADMIN
            value: http://kratos:4434
          - name: GOMEMLIMIT
            value: 1024MiB
          - name: PDF_GENERATION_API
            value: https://dwt-api.dev-l3montree.cloud/pdf
        {{- range .Values.oidc.providers }}
            {{- if eq .provider "gitlab" }}
          - name: GITLAB_{{ .id | upper }}_APPID
            value: {{ .clientId | quote }}
          - name: GITLAB_{{ .id | upper }}_APPSECRET
            valueFrom:
              secretKeyRef:
                key: secret
                name: {{ .existingClientSecretName | quote }}
          - name: GITLAB_{{ .id | upper }}_BASEURL
            value: {{ .issuerUrl | quote }}
          - name: GITLAB_{{ .id | upper }}_SCOPES
            value: {{ .scope | join " " | quote }}
            {{- if .existingBotUserSecretName }}
          - name: GITLAB_{{ .id | upper }}_BOTUSERID
            value: {{ .botUserId | quote }}
          - name: GITLAB_{{ .id | upper }}_BOTUSERACCESSTOKEN
            valueFrom:
              secretKeyRef:
                key: accessToken
                name: {{ .existingBotUserSecretName | quote }}
            {{- end }}
            {{- if .existingAdminTokenSecretName }}
          - name: GITLAB_{{ .id | upper }}_ADMINTOKEN
            valueFrom:
              secretKeyRef:
                key: token
                name: {{ .existingAdminTokenSecretName | quote }}
            {{- end }}
            {{- if .autosetupApplication}}
          - name: GITLAB_{{ .id | upper }}AUTOSETUP_APPID
            value: {{ .autosetupApplication.clientId | quote }}
          - name: GITLAB_{{ .id | upper }}AUTOSETUP_APPSECRET
            valueFrom:
              secretKeyRef:
                key: secret
                name: {{ .autosetupApplication.existingClientSecretName | quote }}
          - name: GITLAB_{{ .id | upper }}AUTOSETUP_BASEURL
            value: {{ .issuerUrl | quote }}
          - name: GITLAB_{{ .id | upper }}AUTOSETUP_SCOPES
            value: {{ .autosetupApplication.scope | join " " | quote }}
            {{- end }}
            {{- end }}
        {{- end }}
          - name: API_URL
            value: {{ .Values.web.devguardApiUrlPublicInternet }}
        {{- if .Values.api.github.enabled }}
          - name: GITHUB_APP_ID
            value: {{ .Values.api.github.appId | quote }}
          - name: GITHUB_PRIVATE_KEY
            value: /github-app-private-key
          - name: GITHUB_WEBHOOK_SECRET
            valueFrom:
              secretKeyRef:
                key: webhookSecret
                name: {{ .Values.api.github.existingWebhookSecretSecretName }}
                optional: true
          - name: ENVIRONMENT
            value: {{ .Values.api.errorTracking.environment | quote }}
          - name: ERROR_TRACKING_DSN
            value: {{ .Values.api.errorTracking.dsn | quote }}
        {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/v1/health
              port: http
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: http
            initialDelaySeconds: 10
          resources:
            limits:
              cpu: "2"
              memory: 2048Mi
            requests:
              cpu: 100m
              memory: 1024Mi
          volumeMounts:
          - mountPath: /github-app-private-key
            name: github-app-private-key
            subPath: privateKey
          - mountPath: /intoto-private-key.pem
            name: intoto-private-key
            subPath: privateKey

      volumes:
      - name: github-app-private-key
        secret:
          secretName: {{ .Values.api.github.existingPrivateKeySecretName }}
          optional: true
      - name: intoto-private-key
        secret:
          secretName: {{ .Values.api.intoto.existingPrivateKeySecretName }}
      {{- with .Values.api.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
