name: Create and publish the custom postgresql Docker image

on:
  push:


# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  # Docker image build job
  build-image:
    uses: l3montree-dev/devguard-action/.github/workflows/build-image.yml@main
    with:
      image-suffix: "-postgresql"
      artifact-suffix: "-postgresql"
      asset-name: l3montree-cybersecurity/projects/devguard/assets/devguard-postgresql
      api-url: https://api.main.devguard.org
    secrets:
      devguard-token: ${{ secrets.DEVGUARD_TOKEN }}  
      build-args: "--context=. --dockerfile=Dockerfile.postgresql"

  # Image scanning job to detect vulnerabilities in the built Docker image
  container-scanning:
    uses: l3montree-dev/devguard-action/.github/workflows/container-scanning.yml@main
    needs: 
    - build-image
    with:
      asset-name: l3montree-cybersecurity/projects/devguard/assets/devguard-postgresql
      api-url: https://api.main.devguard.org
      artifact-suffix: "-postgresql"
    secrets:
      devguard-token: ${{ secrets.DEVGUARD_TOKEN }}

  deploy-scanner:
    needs: 
    - build-image
    - container-scanning
    uses: l3montree-dev/devguard-action/.github/workflows/deploy.yml@main
    with:
      artifact-suffix: "-scanner"
      image-suffix: "-scanner"
      asset-name: l3montree-cybersecurity/projects/devguard/assets/devguard-postgresql
      api-url: https://api.main.devguard.org
    secrets:
      devguard-token: ${{ secrets.DEVGUARD_TOKEN }}     
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
  
  sign:
    needs: 
    - build-image
    - container-scanning
    uses: l3montree-dev/devguard-action/.github/workflows/sign.yml@main
    with:
      asset-name: l3montree-cybersecurity/projects/devguard/assets/devguard-postgresql
      api-url: https://api.main.devguard.org
    secrets:
      devguard-token: ${{ secrets.DEVGUARD_TOKEN }}
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')